<nav class="bg-gray-700 text-white lg:flex items-center justify-between p-4">
    <div>
        <a href="/home" class="text-3xl">sharpEdg.com</a>
    </div>
    <ul class="lg:flex gap-5">
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/about">About</a>
        </li>
        <li>
            <a href="/contact">Contact</a>
        </li>
    </ul>
</nav>