<%- include('partials/header') %>

    <body class="bg-gray-500 flex items-center  min-h-screen">
        <div class="w-1/2 mx-auto">
            
            <h2 class="text-center text-white my-2">This is About page</h2>
            <p class="text-white">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus repellendus omnis ullam, corporis
                beatae fuga voluptatibus quae dicta iure deserunt odit ad. Tempora suscipit quis cumque quo ad dolorum
                incidunt!
            </p>
        </div>
    </body>
<%- include('partials/footer') %>